@charset "UTF-8";
/*产品分类*/
.products{
    margin-top: 15px;
}
.products .leftArea{
    width: 185px;
}
.products .rightArea{
    width: 810px;
}
.products .item{
    width: 25%;
    *width: 24.9%; /*ie6对百分比的计算不是很精准*/
    margin-bottom: 10px;
}
/*产品分类导航*/
.leftNav{
    background-color: #f3f3f3;
    border: 1px solid #d7d7d7;
}
.nav_title{
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #555555;
    border-bottom: 1px solid #cdcdcd;
    font-family: '微软雅黑','sans-serif';
    font-size: 16px;
}
.nav_cont{
    padding: 0 18px 4px;
    border-bottom: 1px dotted #d7d7d7;
    margin-bottom: -1px; /*重叠，消除最后一条点线*/
}
.nav_cont h3{
    font-family: '微软雅黑','sans-serif';
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}
.navCont_list{
    line-height: 25px;
}
.navCont_list li{
    float: left;
    width: 50%; /*两列*/
}
.verticle li{
    width: auto;
    float: none;
    padding-left: 10px;
}
/*显示7,15px*/
.products .banner_bar{
    float: none;
}
/*.hr_7{*/
    /*height: 7px;*/
    /*overflow: hidden;*/
/*}*/
.hr_15{
    height: 15px;
    overflow: hidden;
}
.hr_25{
    height: 25px;
    overflow: hidden;
}
/*标题*/

.products_title{
    height: 34px;
    line-height: 34px;
    border-bottom: 2px solid #ccc;
}
.products_title h3{
    width: 180px;
    font-size: 12px;
    color: #454545;
    border-bottom: 2px solid #096dba;
    text-indent: 9px;
    margin-bottom: -2px; position: relative; /*ie不允许重叠，父级包住子元素，多出2px，relative是为了层级更高*/
}
/*商品*/

.item{
    /*width: 25%;*/
    float: left;
}
.item_cont{
    padding: 0 20px;

}
.item_cont p a{
    font-family: '微软雅黑','sans-serif';
}
.img_item{
    height: 170px;
    text-align: center;
    line-height: 170px;
}
.img_item img{
    width: 159px;
    height: 93px;
    display: inline-block;
    padding-top: 38px;
}
.item p{
    line-height: 20px;
    font-weight: bold;
}
.item a{
    color: #333;
}
.item a:hover{
    text-decoration: underline;
}
.money{
    color: #d4105a;
    font-weight: bold;
    padding-top: 10px;
}
.start{
    width: 11px;
    height: 10px;
    overflow: hidden; /*?*/
    background: url("../images/icon/collection.jpg") left top no-repeat;
    display: inline-block;
    padding: 0 2px;
}
.item .link{
    color: #085c9b;
    text-decoration: none;
}
.item .link:hover{
    color: red;
    text-decoration: none;
}
.hot{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    background: url("../images/icon/hot.jpg") left center no-repeat;
    float: left;
}
/*筛选*/

.screening{
    border-bottom: 1px dotted #dddddd;
}
.screening_first{
    border-bottom: 1px solid #d9d9d9;
}
.screening dt{
    line-height: 32px;
    width: 74px;
    text-align: right;
    margin-right: 40px;
    float: left;
    font-family: '微软雅黑','sans-serif';
    font-size: 14px;
    color: #999999;
    font-weight: bold;
}
.limit{
    width: 55px;
    float: left;
    line-height: 32px;
}
.screening .active{
    background-color: #1d7ad9;
    padding: 3px;
    color: #fff;
}
.screening a{
    padding: 3px;
}
.screening_list{
    line-height: 32px;
    width: 626px;
    float: left;
}
.screening_list a{
    font-family: '微软雅黑','sans-serif';
    font-size: 14px;
    color: #1d7ad9;
    font-weight: bold;
}
.screening_list li{
    width: 25%;
    float: left;
}
.screening_more{
    border: 1px solid #dcdcdc;
    height: 22px;
    line-height: 22px;
    margin-top: 4px;
    float: left;
    padding: 0 10px;
    margin-right: 10px;
}
.screening_more a{
    background: url("../images/icon/more.jpg") right center no-repeat;
    padding-right: 10px;
}
/*列表部分*/
.addInfo{
    height: 31px;
    border: 1px solid #d9d9d9;
    background-color: #f5f5f5;
}
.address{
    float: left;
}
.address .add_text{
    float: left;
    line-height: 31px;
    padding-left: 12px;
    padding-right: 6px;
}
.addInfo .select{
    margin-top: 4px;
}
.screen_text{
    line-height: 31px;
    padding-right: 84px;
}

.shop_num{
    color: #999999;
    font-size: 14px;
    font-weight: bold;
}
.shop_num em{
    color: #d70054;
}
.check #check{
    vertical-align: middle;
    position: relative;
    top: -1px;
    /*_top: 4px;*/
}
.shop_num,.check{
    position: relative;
    _top: 4px; /*ie*/
}
.screening_list_more{
    padding-left: 0.5%;
}
.screening_list_more .item{
    width: 33.3%;
    margin-bottom: 0;
}
.money span{
    padding-right: 95px;
}
.item_cont{
    position: relative;
}
.item_cont .add_car{
    height: 22px;
    width: 88px;
    border: 1px solid #c3d5e7;
    display: inline-block;
    padding-left: 29px;
    padding-right: 6px;
    font-size: 14px;
    font-weight: bold;
    background: url("../images/icon/shopcar_blue.jpg") 6px center no-repeat;
    margin-top: 5px;
    color: #3a79bc;

}
.item_cont .add_car:hover{
    text-decoration: none;
}
/*page*/
.page{
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;

}
.page a{
    border: 1px solid #ccc;
    height: 26px;
    padding: 0 12px;
    display: inline-block;
    line-height: 26px;
    margin-right: 5px;
}
.page .hl{
    display: inline-block;
    padding: 0 12px;
    margin-right: 5px;
}
.page .page_more{
    padding-left: 12px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
}
.page .page_num{
    height: 22px;
    width: 5px;
    line-height: 22px\9;
    border: 1px solid #cccccc;
    padding: 0 15px;
    display: inline-block;
    text-align: center;
    margin-left: 4px;
}
.page .ye{
    display: inline-block;
    padding: 0 7px 2px;
}
.page .page_btn{
    background-color: #e8e8e8;
    border: 1px solid #c9c9c9;
    width: 44px;
    height: 22px;
    line-height: 22px;
}
.page a,
.page span,input{
    vertical-align: middle;  /*ie6对齐*/
}
/*组件*/
.select{
    border: 1px solid #999;
    height: 22px;
    line-height: 22px;
    float: left;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 20px;
    position: relative;
    z-index: 4;
}
.select h3{
    font-size: 12px;
    font-weight: normal;
}
.select span{
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 100%;
    background: url("../images/icon/select_down.jpg") center center no-repeat;
}
.show_select{
    position: absolute;
    top: 22px;
    left: -1px;
    background-color: #fff;
    width: 100%;
    border: 1px solid #999;
    display: none;
}
.show_select li{
    padding-left: 10px;
}
